/** @format */

//VARIABLES
$narginsBetweenImages: 7px;
$marginsBetweenImagesMobile: 3px;
//VARIABLES

.site-layout-content {
  min-height: 280px;
}

#lemon_catalog {
  font-size: 14px;

  .ant-menu-submenu {
    & > div {
      display: block;
      position: relative;
      width: 46px;
      height: 64px;
    }

    padding: 0px;

    span {
      left: 13px;
      top: 31px;

      &,
      &::before,
      &::after {
        background: #9fb1bd;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transition: background ease 0.3s, top ease 0.3s 0.3s,
          transform ease 0.3s;
        width: 20px;
      }

      path {
        display: none;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  .logo {
    float: left;
    width: 143px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: url("../../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ant-breadcrumb {
    ol {
      justify-content: space-between;
    }

    ol > div {
      display: flex;
    }

    .ant-space {
      color: #ff8197;
    }
  }

  .ant-layout-content {
    padding: 0 14px;
  }
}

.ant-row-rtl #lemon_catalog .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

#catalog {
  margin: 0;
  background-color: #f5f5f5 !important;
  color: white;

  & > div {
    border: 14px solid;
    border-color: white;
    padding: 14px;
  }

  .item_header {
    display: grid;
    gap: 33px;
    font-size: 1em;

    .ant-space {
      font-size: 55px;
      height: 113px;
      cursor: pointer;
      display: grid;

      .ant-space-item {
        align-self: center;
        justify-self: center;
      }

      &:hover {
        color: #ff8197;
      }
    }
  }

  .light {
    box-shadow: inset 3px 3px 3px #b9b9b9, 3px 3px 4px #b9b9b9;
    background-color: #cecece;
    margin-top: 24px;

    h2 {
      color: #fff;
    }

    hr {
      border: 1px solid #fff;
    }

    h3 {
      color: #919191;
    }

    .item img {
      width: 100%;
      box-shadow: 3px 3px 2px #b9b9b9;
    }
  }

  .grey {
    box-shadow: inset 3px 3px 3px #000000, 3px 3px 4px #b9b9b9;
    background-color: #272727;
    margin-top: 24px;

    h2 {
      color: #fff;
    }

    hr {
      border: 1px solid #fff;
    }

    h3 {
      color: #919191;
    }

    .item img {
      width: 100%;
      box-shadow: 3px 3px 2px #000;
    }
  }

  .odd {
    .item_header {
      grid-template-columns: 16fr 1fr;
    }
  }

  .even {
    text-align: right;

    .item_header {
      grid-template-columns: 1fr 16fr;
    }
  }

  .main-photo {
    background-image: url("../../../../public/catalogIMG/main-photo.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: inset 5px 5px 12px black, 3px 3px 4px #b9b9b9;
    display: grid;

    span {
      display: grid;
      align-self: end;
      font-size: 150%;

      h1 i {
        font-family: sans-serif;
      }

      * {
        display: block;
        text-align: center;
      }

      hr {
        width: 50%;
      }
    }
  }

  .grid-parrent {
    display: grid;
    grid-template-areas:
      "a a b b"
      "c c b b"
      "c c d d";
  }

  .item {
    margin-bottom: -4px;
  }

  .itema {
    grid-area: a;
    padding: 0 $narginsBetweenImages $narginsBetweenImages 0;
  }

  .itemb {
    grid-area: b;
    padding: 0 0 $narginsBetweenImages $narginsBetweenImages;
  }

  .itemc {
    grid-area: c;
    padding: $narginsBetweenImages $narginsBetweenImages 0 0;
  }

  .itemd {
    grid-area: d;
    padding: $narginsBetweenImages 0 0 $narginsBetweenImages;
  }
}

//media queries
@media screen and (max-width: 1024px) {
  body {
    margin: 0;
  }
  #lemon_catalog {
    .ant-layout-content {
      padding: 0 10px;
    }

    #catalog {
      & > div {
        border: 6px solid;
        padding: 6px;
      }
      .item_header {
        gap: 0;
        font-size: 0.8em;
      }

      .ant-space {
        margin: 0 30px;
        height: 91px;
        font-size: 26px;
      }

      .itema {
        grid-area: a;
        padding: 0 $marginsBetweenImagesMobile $marginsBetweenImagesMobile 0;
      }

      .itemb {
        grid-area: b;
        padding: 0 0 $marginsBetweenImagesMobile $marginsBetweenImagesMobile;
      }

      .itemc {
        grid-area: c;
        padding: $marginsBetweenImagesMobile $marginsBetweenImagesMobile 0 0;
      }

      .itemd {
        grid-area: d;
        padding: $marginsBetweenImagesMobile 0 0 $marginsBetweenImagesMobile;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #lemon_catalog {
    .ant-layout-header {
      display: flex;
      justify-content: space-between;
      padding-inline: 20px;
    }

    .ant-menu-overflow {
      width: 92px;
    }
  }
}
