/** @format */

/** @format */

.header {
   background-color: white;
   height: 65px;
   padding-inline: 25px;

   &__logo {
      float: left;
      width: 200px;
      height: 60px;
      margin: 30px 24px 16px 0;
      background: url('../../images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
   }

   &__parent_block {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__block_1 {
      p {
         font-size: 30px;
         font-weight: bold;
      }
   }
   &__block_2 {
      display: flex;
      align-items: center;
   }
   &__child_block_1 {
      margin-right: 100px;
   }
   &__child_block_2 {
      display: flex;
      flex-direction: column;
      text-align: end;
   }
   &__myAnimation {
      -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
         both;
      animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      @-webkit-keyframes slide-top {
         0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
         }
         100% {
            -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
         }
      }
      @keyframes slide-top {
         0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
         }
         100% {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
         }
      }

      background-color: white;
      padding: 20px;
      -webkit-box-shadow: 1px 3px 22px -6px rgba(34, 60, 80, 0.39);
      -moz-box-shadow: 1px 3px 22px -6px rgba(34, 60, 80, 0.39);
      box-shadow: 1px 3px 22px -6px rgba(34, 60, 80, 0.39);
      position: absolute;
      top: 80px;
      right: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 300px;
      overflow-y: scroll;
      z-index: 999;
      a {
         color: black;
         font-size: 15px;
         margin-left: 15px;
         display: flex;
         align-items: center;
         padding: 5px;

         &:hover {
            color: yellowgreen;
         }
      }
   }
}
@media (max-width: 730px) {
   // :global {
   //    $isMenu: false;
   // }
}
