/** @format */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.Main {
   max-width: 100vmax;
   height: 100%;
   padding-top: 20px;
   margin-bottom: 50px;

   &__block-1 {
      display: flex;
      justify-content: space-between;
   }
   &__header-section-1 {
      width: 33%;
      height: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__header-section-2 {
      width: 65%;
      height: 300px;
      border-radius: 10px;
   }
   &__header-parent-block {
      border-radius: 10px;
      border: 1px solid gray;
      width: 100%;
      height: 85px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      transition: 0.3s;

      cursor: pointer;
   }

   &__header-child-block {
      width: max-content;

      .p1 {
         font-size: 20px;
         color: #3f3f3f;
         font-weight: 600;
      }

      .p2 {
         color: #bfbfbf;
      }
   }
   &__number {
      color: #3f3f3f;
      font-size: 20px;
      font-weight: 700;
   }
   &__block-2 {
      margin-top: 50px;
      height: 300;
      width: 100%;
      margin-bottom: 50px;
   }
   &__block-3 {
      display: flex;
      justify-content: space-between;
   }
   &__footer-section-1 {
      width: 33%;
      height: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid gray;
   }
   &__footer-section-2 {
      width: 65%;
      height: 300px;
      border-radius: 10px;
      border: 1px solid gray;
   }
}

// +- адаптивка
@media (max-width: 1000px) {
   .Main {
      &__header-parent-block {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         padding: 0;
      }

      &__header-child-block {
         text-align: center;
         .p1 {
            font-size: 12px;
         }

         .p2 {
            margin-top: 10px;
            color: #bfbfbf;
            font-size: 7px;
         }
      }
      &__number {
         font-size: 15px;
      }
   }
}
