/** @format */

.Sidebar {
   min-height: 100vh;
   z-index: 1;

   &__sidebar_icon {
      font-size: 20px !important;
   }

   &__menu {
      font-size: 19px;
      background: transparent;
      border: none;
   }

   &__menuOutlined {
      background-color: #444444;
      width: 100%;
      height: 65px;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      color: white;
   }
   &__closeOutlined {
      height: 65px;
      display: flex;
      align-items: center;
      padding-left: 26px;
   }
}

@media (max-width: 730px) {
   .Sidebar {
      display: none;
   }
}
